<h1>Welcome to my Travel Site</h1>
<p>Stay tuned for some cool travel stuff!</p>

<%= @homestate %>

<%= image_tag "https://upload.wikimedia.org/wikipedia/commons/4/49/Cuernos_del_Paine_from_Lake_Peho%C3%A9.jpg" %>